@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: justify;
}
.information{
    margin: 0px;
    padding: 30px 0px;
    height: max-content;
    background-color: #F7F8F4E6;
}
#info_title{
    color: #5D5C78;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #5D5C78;
}
#intro{
    margin: 0px;
    padding: 0px;
}
#intro_content{
    margin: 30px 0px;
    padding: 0px;
}
#intro_logo{
    width: 100%;
    height: min-content;
}


/* Các giá trị */
#values{
    margin-top: 20px;
}
#values h4{
    text-align: center;
    color: #5D5C78;
}
#values p{
    margin-bottom: 10px;
}

/* Chính sách */
#policy{
    margin: 50px 0px 0px;
}
#policy_info{
    margin: 10px;
}
#policy_info h5 a{
    text-decoration: none;
    color: #5D5C78;
    font-weight: 600;
}
#policy_info ol li{
    color: #5D5C78;
    width: max-content;
    height: max-content;
    padding: 3px 0px;
}
#policy_info ol li a{
    text-decoration: none;
    color: black;
}
#policy_info a:hover, #policy_info li:hover{
    color: #D8BDC1;
}


/* Màn hình điện thoại */
@media (max-width: 767px) {
    .information{
        margin: 0px;
        padding: 15px;
    }
    #info_title h3{
        font-size: 1.1em;
    }
    #intro_content{
        margin: 10px 0px;
    }
    #values h4{
        font-size: 1.5em;
    } 
    #intro_desc, #values{
        font-size: 0.7em;
        margin: 10px 0px;
        padding: 0px;
    }
    #policy{
        margin: 10px 0px;
    }
    #policy h5{
        margin: 0px;
        font-size: 0.9em;
    }
    #policy ol{
        padding-left: 25px;
    }
    #policy li{
        margin: 0px;
        font-size: 0.7em;
    }
}