@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
 
.MainContact{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 248, 244);
}
*{
    font-family: 'Quicksand', sans-serif;
}
.container-fluid{
    text-align: center;
    background: rgba(211, 211, 211, 0.3);
    color: rgba(216, 189, 193, 1);
   
}
.container-fluid:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-fluid h1 {
    font-weight: 700;
}
.container-fluid a{
    color: #5D5C78;
    font-weight: 600;
    font-size: 20px;
}
.container-fluid a:hover{
    text-decoration: none;
    color: white;
}
 
 
.container h4{
    font-weight: 700;
    color: rgba(93, 92, 120, 1);
    margin: 0 0 20px 0;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}
 
iframe{
    max-width: 100%;
    /*     filter: invert(100%); */
}
.card:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}
.card-body p{
    text-align: center;
}
form{
    background: rgba(216, 189, 193, 0.5);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.form-label{
    font-weight: 700;
    color: rgba(93, 92, 120, 1);
}
.form-control{
    width: 50%;
    font-size: 12px;
}
 
.form-btn{
    background: #5D5C78;
    color: rgba(251, 211, 202, 0.8);
    border-radius: 5px;
    font-weight: 600;
    border: none;
}
.form-btn:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.7;
}
/* Màn hình điện thoại */
@media (max-width: 767px) {
    .container h4{
        font-size: 0.8em;
    }
    .card-body p{
        font-size: 0.6em;
    }
   .form-label{
        font-size: 0.8em;
    }
   .form-control{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    }
}
