body{
    margin: 0px;
    padding: 0px;
}
.menu{
    margin: 0px;
    padding: 0px;
    background-color: #D8BDC1;
}
.menu nav{
    margin: 2px 0px;
    padding: 0px 15px;
}
.menu a{
    color: #5D5C78;
    font-weight: 500;
    margin-right: 20px;
}
.menu a:hover{
    color: #F7F8F4;
    text-decoration: none;
}

/* Màn hình điện thoại */
@media (max-width: 767px) {
    .menu nav{
        margin: 2px 10px;
        padding: 0px 5px;
    }
}