#my_order_container{
    padding: 10px 0px 20px 0px;
    background-color: #F7F8F4;
}
#my_order_status_bar{
    background-color: white;
    padding: 0px;
}
#my_order_status_bar ul{
    list-style: none;
    margin: 0px;
    padding: 5px 10px;
    border-bottom: 2px solid #D3D3D3;
}
#my_order_status_bar ul li{
    display: inline;
    padding: 0px;
    margin: 0px;
}
#my_order_status_bar ul li a{
    text-decoration: none;
    color: #FBD3CA;
    padding: 5px 10px;
    margin: 0px;
}
#my_order_status_bar ul li a.active{
    border-bottom: 2px solid #5D5C78;
    color: #5D5C78;
}
#my_orders{
    background-color: white;
    margin: 10px 0px;
    padding: 10px;
}


/* Màn hình điện thoại */
@media (max-width: 767px) {
    #my_order_status_bar ul li a.active{
        border-bottom: none;
        color: #5D5C78;
    }
}