
.resetpwd {
    /* display: none;
    position: fixed; */
    z-index: 10;
    margin: auto;
    /*    opacity: 0;*/
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); */
    width: 600px;
    /* height: 450px; */
    padding: 30px 40px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    /* transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms; */
}

.resetpwd.active {
    top: 50%;
    /* opacity: 1; */
    display: block;
    /* transform: translate(-50%, -50%) scale(1); */
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms,
}

.resetpwd .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 18%;
}

.resetpwd .cancelreset-btn {
    /* position: absolute; */
    margin-left: auto;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #D8BDC1;
    color: white;
    text-align: center;
    line-height: 70%;
    border-radius: 15px;
    cursor: pointer;
}

.resetpwd .cancelreset-btn:hover {
    background: #5D5C78;
}

.resetpwd .form h2 {
    text-align: center;
    margin: 50px 0;
    color: #5D5C78;
    margin: 10px 0px 20px;
    font-size: 30px;
}

.resetpwd small {
    margin-top: 20px;
    visibility: hidden;
    color: red;
}

.resetpwd .form .form-element {
    margin: 15px 50px 15px;
}

.resetpwd .form .form-element label {
    font-size: 16px;
    color: #5D5C78;
    font-weight: bold;
}

.resetpwd .form .form-element input[type="text"],
.resetpwd .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #5D5C78;
    border-radius: 5px;
    font-size: 16px;
}

.resetpwd .form .form-element button {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #D8BDC1;
    color: #5D5C78;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.resetpwd .form .form-element button:hover {
    background: #5D5C78;
    transition: all ease 0.2s;
    color: white;
}

.resetpwd .form .form-element a {
    display: inline;
    font-size: 13px;
    color: #1a79ca;
    text-decoration: none;
}

.resetpwd .form .form-element p {
    font-size: 14px;
    color: #5D5C78;
    text-align: center;
    margin: 5x 0px;
}

.resetpwd.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.cartegory{
    padding: 20px;
    /* padding: 20px 0 0 20px; */
    /* margin-bottom: 50px; */
    background-color: #F7F8F4;
}
/* .cartegory-top{
    margin-bottom: 50px;
} */
.cartegory-top p{
    /* font-family: 'Times New Roman', Times, serif; */
    margin: 0 12px;
    font-size: 16px;
}